{
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "semi": true,
    "objectWrap": "preserve",
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 80,
    "proseWrap": "preserve",
    "spaceAroundTypeAnnotations": false,
    "bracketSameLine": false,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": true,
    "htmlWhitespaceSensitivity": "ignore",
    "singleAttributePerLine": true
  }