{
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "semi": true,
    "objectWrap": "preserve",
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 80,
    "proseWrap": "preserve",
    "bracketSameLine": false
  }